body {
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

.board {
    height: 100vmin;
    width: 100vmin;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square {
    grid-row: auto;
    grid-column: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: rgb(122, 122, 122);
    color: white;
}

.white {
    background-color: #ccc;
}

.image {
    height: 100%;
    width: 100%;
    
}